html {
  font-size: 16px; }

.inside {
  max-width: 1148px;
  padding: 90px 50px;
  margin: 0 auto; }

.hero {
  background-image: url("../images/hero.png");
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 100%; }
  .hero .inside {
    display: table;
    height: 100%; }

.hero-caption {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  padding-top: 70px; }
  .hero-caption h1 {
    line-height: 1.2;
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 73px; }
    .hero-caption h1 span {
      font-weight: 400; }
  .hero-caption h2 {
    font-size: 2.625rem;
    margin-bottom: 28px;
    font-weight: 400; }
  .hero-caption .sub-title {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 68px;
    line-height: 1.2; }
  .hero-caption .info {
    line-height: 1.3;
    margin-bottom: 65px; }
    .hero-caption .info .when {
      font-size: 1.56rem;
      display: block; }
    .hero-caption .info .where {
      font-size: 1.25rem; }

.about-a {
  text-align: center;
  position: relative; }
  .about-a .difference {
    color: #000;
    font-size: 1.875rem;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 80px; }
  .about-a ul {
    width: 360px;
    margin: 0 auto 80px auto; }
    .about-a ul li {
      width: 100%;
      margin-bottom: 30px;
      text-align: left;
      font-size: 1.687rem;
      color: #5b5b5b;
      padding-left: 40px;
      background-image: url("../images/tickbox.png");
      background-position: left;
      background-repeat: no-repeat;
      line-height: 1.3; }
  .about-a .whatfor {
    color: #777;
    font-size: 1.875rem;
    line-height: 1.3;
    margin-bottom: 200px;
    font-weight: 400; }
    .about-a .whatfor .hyphen {
      color: #30c5f2;
      font-weight: bold;
      display: inline; }
    .about-a .whatfor span {
      display: block; }
  .about-a .abs-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -960px; }

.about-b {
  background-color: #FAFBFA; }
  .about-b .col {
    width: 50%;
    padding: 0 10px;
    float: left;
    text-align: center; }
  .about-b .icon-image {
    margin-bottom: 25px; }
  .about-b .developer {
    width: 106px; }
  .about-b .company {
    width: 143px; }
  .about-b h3 {
    margin-bottom: 25px;
    font-size: 1.875rem;
    color: #000;
    font-weight: 500; }
  .about-b ul li {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.562rem;
    word-break: keep-all;
    line-height: 1.2; }

.speakers {
  background-image: linear-gradient(to top, #182E4F 0%, #233F68 49%, #315488 100%);
  color: #fff; }
  .speakers .row {
    margin-bottom: 115px; }
    .speakers .row:last-of-type {
      margin-bottom: 0; }
  .speakers .sub-title {
    text-align: center;
    font-size: 1.875rem;
    margin-bottom: 110px; }
  .speakers .photo {
    float: left;
    margin-right: 60px; }
    .speakers .photo img {
      width: 160px; }
  .speakers .desc {
    padding-top: 15px; }
  .speakers .speaker {
    font-size: 1.75rem; }
  .speakers .hyphen {
    font-size: 1.375rem;
    color: #30c5f2; }
  .speakers .company {
    font-size: 1.43rem;
    font-weight: 300; }
  .speakers .speaker-about {
    word-break: keep-all;
    font-size: 1.43rem;
    font-weight: 300;
    line-height: 1.4;
    margin-top: 22px; }
    .speakers .speaker-about a {
      color: #30c5f2; }
    .speakers .speaker-about span {
      display: block; }

.section-title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 2.375rem;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500; }
  .section-title:after {
    width: 66px;
    height: 8px;
    background-color: #30c5f2;
    content: "";
    display: block;
    margin: 23px auto 0 auto; }

.schedule .row {
  border-left: 1px solid #C3C4C3;
  padding-left: 40px;
  padding-bottom: 60px;
  min-height: 140px;
  color: #000;
  font-weight: 400;
  position: relative; }
  .schedule .row:before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #30c5f2;
    border-radius: 50%;
    top: 0;
    left: -5px; }
  .schedule .row:last-of-type {
    border-left: none;
    min-height: 0;
    padding-bottom: 50px; }

.schedule .session-time {
  float: left;
  font-size: 1.625rem;
  margin-right: 75px; }

.schedule .session-info {
  float: left; }

.schedule .session-title {
  font-size: 1.625rem;
  margin-bottom: 35px; }

.schedule .session-desc {
  font-size: 1.5rem;
  color: #727272;
  line-height: 1.3;
  margin-bottom: 25px; }
  .schedule .session-desc span {
    display: block; }

.schedule .session-speaker {
  font-size: 1.5rem;
  color: #30c5f2; }

.schedule h4 {
  color: #797979;
  font-size: 1rem; }
  .schedule h4 span {
    color: #30c5f2; }

.registration {
  background-image: url("../images/registration.png");
  background-size: cover;
  color: #fff;
  font-size: 1.68rem;
  text-align: center; }
  .registration a {
    color: #fff; }
  .registration .section-title {
    font-weight: 500; }
  .registration .conf-info {
    line-height: 1.5;
    margin-bottom: 50px; }
    .registration .conf-info em {
      color: #30c5f2; }
    .registration .conf-info:last-of-type {
      margin-bottom: 80px; }
  .registration .col {
    word-break: keep-all;
    width: 50%;
    float: left;
    font-size: 1.3rem;
    line-height: 1.4;
    padding: 0 30px; }
    .registration .col .price {
      font-size: 1.68rem;
      margin-bottom: 20px;
      display: block; }
    .registration .col p {
      margin-bottom: 15px; }
    .registration .col .sub {
      color: #797979; }
      .registration .col .sub span {
        display: block; }
  .registration .info {
    height: 270px; }
  .registration .apply {
    margin-top: 30px; }

.location {
  background-image: url("../images/grid_background.png");
  background-size: cover;
  color: #000; }
  .location .location-info {
    font-size: 1.875rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 63px; }
    .location .location-info em {
      font-weight: 500;
      display: block; }
      .location .location-info em a {
        color: #000; }
  .location ul {
    margin-bottom: 80px; }
    .location ul li {
      font-size: 0;
      float: left;
      width: 32%;
      margin-right: 2%; }
      .location ul li:last-child {
        margin-right: 0; }
      .location ul li img {
        width: 100%; }
  .location #map {
    width: 100%;
    height: 665px;
    margin-bottom: 70px; }
  .location .parking {
    font-size: 1.25rem;
    text-align: center; }

.button-wrapper {
  text-align: center; }
  .button-wrapper a {
    display: block;
    width: 250px;
    height: 70px;
    line-height: 70px;
    font-size: 1.68rem;
    color: #fff;
    background-color: #2DC0F2;
    border-radius: 35px;
    margin: 0 auto 35px auto; }

.sponsors h3 {
  color: #555;
  text-align: center;
  font-size: 1.68rem;
  margin-bottom: 115px; }

.sponsors h4 {
  color: #8e8f8f;
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 50px; }

.sponsors .twinkle {
  text-align: center; }

.sponsors #woowa {
  max-width: 122px; }

.sponsors .button-wrapper {
  margin-top: 75px; }

.footer-top {
  background-image: url("../images/footer-top.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 160px; }

footer {
  background-color: #182E4F;
  padding: 70px 60px 30px 60px;
  text-align: center;
  color: #fff; }
  footer a {
    color: #fff; }
  footer .logo {
    font-size: 1.5rem;
    font-weight: normal; }
    footer .logo img {
      width: 202px; }
    footer .logo p {
      line-height: 1.3;
      margin-top: 10px;
      font-family: "Exo 2", sans-serif; }
    footer .logo a {
      font-family: "Exo 2", sans-serif; }
  footer .info {
    font-size: 1.125rem; }
  footer .left {
    float: left; }
    footer .left .ask {
      width: 85px;
      display: inline-block;
      text-align: left; }
  footer .right {
    float: right; }

.logo img {
  width: 173px; }

.apply {
  position: relative;
  display: block;
  width: 260px;
  height: 82px;
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 400;
  line-height: 82px;
  margin: 0 auto; }
  .apply svg {
    position: absolute;
    top: 0;
    left: 0; }
    .apply svg rect {
      stroke-width: 10;
      stroke-dasharray: 353, 0;
      stroke-dashoffset: 0;
      -webkit-transition: all 600ms ease;
      transition: all 600ms ease; }
  .apply:hover svg rect {
    stroke-dasharray: 193, 551;
    stroke-dashoffset: 452; }

@media screen and (max-width: 1023px) {
  html {
    font-size: 13px; }
  .inside {
    padding: 70px 30px; }
  .hero {
    height: auto; }
  .hero-caption h1 {
    font-size: 3rem; }
  .hero-caption .logo img {
    max-width: 35%; }
  .about-a .difference {
    word-break: keep-all; }
  .about-a .whatfor {
    word-break: keep-all;
    margin-bottom: 60px; }
  .about-a ul li {
    background-size: 22px;
    padding-left: 30px; }
  .about-a .abs-image img {
    max-width: 100%; }
  .about-b .col {
    width: 100%;
    padding: 0; }
    .about-b .col:first-child {
      margin-bottom: 80px; }
  .speakers .row {
    margin-bottom: 60px; }
  .speakers .sub-title {
    margin-bottom: 80px;
    font-size: 1.5rem;
    line-height: 1.2;
    display: none; }
  .speakers .photo {
    width: 100%;
    text-align: center;
    margin-bottom: 20px; }
  .speakers .desc {
    width: 100%;
    word-break: keep-all;
    text-align: center; }
    .speakers .desc span {
      display: inline; }
  .speakers .speaker-about {
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; }
  .schedule .session-time {
    width: 100%;
    margin-left: 0;
    margin-bottom: 15px; }
  .schedule .session-info {
    width: 100%; }
  .schedule .row {
    min-height: 0; }
  .schedule .session-title {
    word-break: keep-all;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 10px; }
  .schedule .session-desc {
    font-size: 1.3rem;
    word-break: keep-all;
    margin-bottom: 10px; }
    .schedule .session-desc span {
      display: inline;
      word-break: keep-all; }
  .schedule .session-speaker {
    font-size: 1.3rem; }
  .schedule h4 {
    font-size: 1.25rem;
    word-break: keep-all;
    line-height: 1.3; }
  .registration {
    word-break: keep-all; }
    .registration .inside {
      padding-top: 50px;
      padding-bottom: 50px; }
    .registration .col {
      width: 100%;
      padding: 0;
      margin-bottom: 50px; }
    .registration .info {
      height: auto; }
  .apply {
    height: auto;
    display: block;
    max-width: 100%;
    padding: 15px 0;
    line-height: normal;
    width: 250px;
    font-size: 1.68rem;
    color: #fff;
    background-image: linear-gradient(to left, #2FC2F2 0%, #91F6FE 100%);
    border-radius: 35px; }
    .apply svg {
      display: none; }
  .location .section-title {
    margin-bottom: 50px; }
  .location .location-info {
    font-size: 1.4rem;
    word-break: keep-all;
    margin-bottom: 30px; }
    .location .location-info em {
      font-size: 1.875rem; }
  .location ul {
    display: none; }
  .location #map {
    height: 300px;
    margin-bottom: 35px; }
  .location .parking {
    line-height: 1.2;
    word-break: keep-all; }
  .sponsors h3 {
    margin-bottom: 70px; }
  .sponsors h4 {
    margin-bottom: 30px; }
  .button-wrapper a {
    height: auto;
    display: block;
    max-width: 100%;
    padding: 15px 0;
    line-height: normal; }
  .footer-top {
    display: none; }
  footer {
    text-align: left;
    padding: 50px 30px; }
    footer .logo {
      margin-bottom: 30px; }
    footer .left, footer .right {
      float: none;
      margin-bottom: 30px; }
    footer .left .ask {
      display: block;
      margin-bottom: 10px; }
    footer .info {
      font-size: 1.5rem; } }

@media screen and (max-width: 620px) {
  html {
    font-size: 12px; }
  .about-a .whatfor span {
    display: inline; }
  .about-a ul {
    width: 300px; }
  .schedule .row {
    padding-left: 30px; }
  .speakers .speaker-about {
    max-width: 100%; } }

@media screen and (max-width: 320px) {
  html {
    font-size: 11px; }
  .hero-caption h1 {
    font-size: 2.2rem; }
  .about-a ul {
    width: auto; } }
