$bg-color: #fff;
$dark-navy: #182d4e;
body,
html {
    height: 100%;
}

.inside {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.search-wrapper {
    width: 100%;
    background-color: $dark-navy;
}

.search {
    height: 50px;
    font-size: 0;
    float: right;
    .search-text {
        float: left;
        width: 172px;
        height: 27px;
        border-radius: 8px;
        background-color: #0d1b31;
        background-image: url("/assets/images/search-icon@2x.png");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 6px 4px;
        padding: 4px 6px 4px 30px;
        margin: 11px 4px 11px 0;
        input[type="text"] {
            border: none;
            background-color: transparent;
            color: #fff;
            line-height: 18px;
            outline: none;
            &:focus {
                border: none;
            }
        }
    }
    .search-icon {
        float: left;
        margin: 9px 0;
        .icon {
            width: 31px;
            height: 31px;
            margin-left: 8px;
        }
    }
}

.hero-wrapper {
    width: 100%;
    height: 665px;
    background-image: url("/assets/images/main-background.png");
    background-size: cover;
    background-position: center bottom;
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.77;
    background-color: #020a16;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 34px;
    .logo {
        float: left;
        img {
            width: 121px;
        }
    }
    nav {
        float: right;
        text-transform: uppercase;
        .navigation > li {
            float: left;
            margin-left: 49px;
            a {
                transition:all 0.3s cubic-bezier(0.645,0.045,0.355,1);
                color: #fff;
                font-size: 16px;
                line-height: 2.0;
                &:hover {
                    color: #2DC1FC;
                }
            }
        }
    }
}

.hero-caption {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 167px;
    color: #fff;
    #partner {
        font-size: 25px;
        font-weight: 300;
        line-height: 1.0;
    }
    #eBrain {
        font-size: 55px;
        font-weight: 300;
        line-height: 1.3;
        padding: 20px 0;
    }
    #company {
        font-size: 30px;
        line-height: 1.0;
    }
    .below-btn {
        transition:all 0.2s cubic-bezier(0.645,0.045,0.355,1);
        width: 333px;
        border-radius: 15px;
        background-color: #2dc1f0;
        display: inline-block;
        margin: 50px 0;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        padding: 17px 0;
        &:hover { 
            background-color: #03A9F4;
        }
    }
    .video-btn {
        font-size: 18px;
        vertical-align: middle;
        .caption {
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 1px;
        }
        .caption-left {
        }
        img { 
            width: 55px; 
            margin:0 15px;
            vertical-align: middle;
        }
    }
}

.section-title {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.0;
    color: #182d4e;
}

.why-eBrain { 
    background-color: #f8f8f8;
    background-size: cover;
    text-align: center;
    padding-bottom: 98px;
    
    .section-title { 
        padding:53px 0 100px; 
    }
    
    .col {
        width: 33%;
        float: left;
        
        .why-sub-img {
            width: 110px;
        }

        .why-sub-title {
            font-size: 32px;
            line-height: 1.09;
            text-align: center;
            color: #1c5192;
            padding: 45px 0 36px;
            text-transform: uppercase;
        }

        .why-sub-text {
            font-size: 20px;
            line-height: 1.3;
            color: #13213d;
            word-break: keep-all;
        }
    }
    
    .tech { padding-right: 30px; }
    .career { padding: 0 30px; }
    .life { padding-left: 30px; }
}

.about-eBrain {
    text-align: center;
    
    .section-title {
        padding: 52px 0 51px;
    }
    
    .row { 
        overflow: hidden;
        text-align: left;
    }
    .consulting {
        height: 466px;
        background-color: #11223d;
    }
    .management {
        height: 443px;
        background-color: #27497e;
    }
    
    .col { 
        width:50%;
        height:100%;
        float: left;
    }
    
    .consulting .about-sub-img {
        background-image: url("/assets/images/consulting-img@2x.png");
        background-size: cover;
        background-position: center;
    }
    
    .management .about-sub-img {
        background-image: url("/assets/images/management-img@2x.png");
        background-size: cover;
        background-position: center bottom;
    }
    
    .about-sub-text {
        padding:87px 169px 0 169px;
        font-size: 40px;
        font-weight: 300;
        color:#fff;
        
        em {
            font-weight: 500;
            line-height: 0.8;
            letter-spacing: normal;
            color: #2ab4ec;
        }
        h3 {
            font-size: 24px;
            font-weight: 200;
            line-height: 1.04;
            margin: 44px 0 20px;
        }
        p {
            font-size: 20px;
            font-weight: 400;
            line-height: 1.4;
        }
    }
}

.view-btn {
    display: inline-block;
    width: 175px;
	border-radius: 15px;
	border: solid 1px #ffffff;
    font-size: 16px;
	font-weight: 500;
	text-align: center;
	color: #ffffff;
    padding: 12px 0;
    margin-top:44px;
    transition:all 0.2s cubic-bezier(0.645,0.045,0.355,1);
    
    &:hover {
        color: $dark-navy;
        background-color: #fff;
    }
}

.more-btn {
    display: inline-block;
    width: 280px;
	border-radius: 15px;
	background-color: #2dc1f0;
    font-size: 20px;
	font-weight: 300;
	line-height: 1.5;
	text-align: center;
	color: #ffffff;
    padding: 13px 0;
}

.more-eBrain {
    text-align: center;
    padding-bottom: 84px;
    

    .section-title { 
        padding: 85px 0;
        text-align: center;
    }
    
    .col {
        width: 25%;
        float: left;
        
        .img-wrap {
            height: 40px;
        }
        
        .more-sub-img {
            vertical-align: bottom;
            max-width: 100%;
        }
        
        .more-sub-title {
            font-size: 28px;
            font-weight: 300;
            line-height: 1.14;
            color: #1c5192;
            margin: 43px 0 18px;
            height: 96px;
            word-break: keep-all;
        }
        
        .more-sub-text {
            height:200px;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.3;
            color: #13213d;
            word-break: keep-all;
        }
        
        .view-btn { 
            border: solid 1px #1c5192;
            color: #1c5192;
            margin-top: 32px;
            &:hover {
                color: #fff;
                background-color: #1c5192;
            }
        }
    }
    .okky { 
        padding-right: 30px;
        img { width: 175px; }
    }
    .nagaja { 
        padding: 0 30px;
        img { width: 206px; }
    }
    .ted { 
        padding: 0 30px;
        img { width: 195px; }
    }
    .sistar { 
        padding-left: 30px;
        img { width: 146px; }
    }
}

.praise-eBrain {
    text-align: center;
    background-color: #f9f9f9;
    padding-bottom: 53px;
    
    .section-title { 
        padding: 44px 0 40px;
    }
}

.carousel-wrapper {
    position: relative;
}
.carousel-indicator {
    text-align: center;
    font-size: 0;
    margin-top: 30px;
    .indicator-item {
        display: inline;
        &:before {
            content: "";
            display: inline-block;
            background-color: #dbdbdb;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0 6px;
        }
    }
    .indicator-item.on:before {
        background-color: #2dc1f0;
    }
}

.carousel-navigator {
    border: none;
    background-color: transparent;
    background-size: cover;
    position: absolute;
    top: 50%;
    width: 18px;
    height: 35px;
    color: transparent;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}
.carousel-navigator.left {
    background-image: url("/assets/images/arrow-left@2x.png");
    left:0;
}
.carousel-navigator.right {
    background-image: url("/assets/images/arrow-right@2x.png");
    right:0;
}

.carousel {
    overflow: hidden;
    width: 20000px;
    
    .carousel-inner {
        width: 960px;
        height: 360px;
        overflow: hidden;
     
        .carousel-item {
            overflow: hidden;
            width: 960px;
            height: 360px;
            float:left;

            .carousel-caption { 
                width: 735px;
                margin: 0 auto;
                font-size: 22px;
                font-weight: 200;
                line-height: 1.35;
                color: #13213d;
                word-break: keep-all;
                padding: 0 20px;
            }
            .carousel-img {
                width: 139px;
                margin: 18px 0 24px;
            }
            .carousel-name {
                font-size: 22px;
                line-height: 1.45;
                color: #13213d;
                margin-bottom: 4px;
            }
            .carousel-job {
                font-size: 20px;
                font-weight: 200;
                line-height: 1.4;
                color: #2dc1f0;
                .carousel-position,
                .carousel-year {
                    display: block;
                }
            }
        }
    }
}

.faq-eBrain {
    background-color: #1c5192;
    padding: 49px 0;
    color: #fff;
    font-weight: 200;
    .faq-text-en {
        font-size: 32px;
        line-height: 1.0;
        margin-bottom: 13px; 
    }
    .faq-text-ko {
        font-size: 22px;
	   line-height: 1.27;
    }
    .faq-btn {
        float: right;
        display: inline-block;
        width: 280px;
        padding: 18px 0;
        font-size: 20px;
        text-align: center;
        border-radius: 15px;
        background-color: #2dc1f0;
        color: #fff;
        margin-top: 10px;
    }
}

.news-eBrain {
    padding-bottom: 58px;
    text-align: center;
    .section-title {
        padding: 66px 0 29px;
        text-align: center;
    }
    .news-item {
        padding: 47px 0 52px; 
        border-bottom: 1px solid #e1e1e1;
    }
    .more-btn {
        margin-top: 44px;
    }
    .news-item-img {
        width: 45%;
        height: 295px;
        float: left;
        background-size: cover;
        background-position: center;
        position: relative;
        .news-type {
            position: absolute;
            display: block;
            bottom:0;
            left:0;
            width: 136px;
            font-size: 24px;
            font-weight: 300;
            line-height: 1.17;
            color: #ffffff;
            text-align: center;
            padding: 16px 0;
            text-transform: uppercase;
        }
        .news-type.blog {
            background-color: #2dc1f0;
        }
        .news-type.academy {
            background-color: #1c5192;
        }
        .news-type.news {
            background-color: #252222;
        }
    }
    .news-item-text {
        width: 50%;
        float: right;
        text-align: left;
        
        .news-title {
            font-size: 32px;
            font-weight: 300;
            line-height: 0.88;
            color: #2dc1f0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .news-date {
            font-size: 20px;
            font-weight: 300;
            line-height: 1.4;
            color: #9b9b9b;
            margin: 13px 0 34px;
        }
        .news-content {
            font-size: 20px;
            font-weight: 300;
            line-height: 1.4;
            color: #13213d;
            height: 112px;
            overflow: hidden;
        }
        .view-btn {
            color: #1c5192;
            border: solid 1px #1c5192;
            &:hover {
                color: #fff;
                background-color: #1c5192;
            }
        }
    }
}

.newsletter-eBrain {
    padding: 52px 0 48px;
    background-color: #182d4e;
    .newsletter-text {
        font-size: 28px;
        font-weight: 300;
        line-height: 1.14;
        color: #ffffff;
        color: #fff;
        float:left;
    }
    .email-wrap {
        float:right;
        width: 453px;
        border-radius: 15px;
        background-color: #fff;
        padding: 8px 8px 8px 16px;
        input[name="email"] {
            height: 55px;
            line-height: 55px;
            width: 65%;
            font-size: 20px;
            border:none;
            &:focus { outline: none; }
        }
        .email-btn {
            width: 31%;
            height: 55px;
            border-radius: 15px;
            background-color: #2dc1f0;
            font-size: 20px;
            font-weight: 300;
            line-height: 1.5;
            text-align: center;
            color: #ffffff;
            border: none;
            float:right;
            cursor: pointer;
        }
    }
    
}

footer {
    .col {
        width: 33%;
    }
}
