$bg-color: #fff;
$dark-navy: #182d4e;
$base-skyblue: #2dc1f0;
$icon-skyblue: #31C0F0;
.btn-transition {
    transition: all 100ms linear;
}

body,
html {
//    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.inside {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.search-wrapper {
    width: 100%;
    background-color: $dark-navy;
}

.search {
    height: 50px;
    font-size: 0;
    float: right;
    .search-text {
        float: left;
        width: 172px;
        height: 27px;
        border-radius: 8px;
        background-color: #0d1b31;
        background-image: url("../images/search-icon@2x.png");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 6px 4px;
        padding: 4px 6px 4px 30px;
        margin: 11px 4px 11px 0;
        input[type="text"] {
            border: none;
            background-color: transparent;
            color: #fff;
            line-height: 18px;
            outline: none;
            &:focus {
                border: none;
            }
        }
    }
    .search-icon {
        float: left;
        margin: 17px 0;
        a { 
            display: inline-block; 
            &:hover svg {
                @extend .btn-transition;
                fill: darken($icon-skyblue,20%);
            }
        }
        .icon {
            @extend .btn-transition;
            width: 15px;
            height: 15px;
            margin-left: 10px;
            fill: $icon-skyblue;
        }
    }
}

.hero-wrapper {
    width: 100%;
    height: 665px;
    background-image: url("../images/main-background.png");
    background-size: cover;
    background-position: center bottom;
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.77;
    background-color: #020a16;
}

/*svg*/


.logo {
    svg {
        width: 121px;
        #symbol, #text {
            fill: #fff;
        }
    }
}


/*header*/
@mixin header-transition($sec) {
    transition: all $sec ease-in-out;
}
.header-wrapper {
    @include header-transition(.2s);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
header {
    @include header-transition(.2s);
    width: 960px;
    margin: 0 auto;
    padding-top: 34px;
    nav {
        float: right;
        text-transform: uppercase;
        .navigation > li {
            float: left;
            margin-left: 49px;
            a {
                transition:all 0.3s cubic-bezier(0.645,0.045,0.355,1);
                color: #fff;
                font-size: 16px;
                line-height: 2.3;
                &:hover {
                    color: #2DC1FC;
                }
            }
        }
    }
    .logo {      
        width: 121px;
        float: left;
    }
}
.sticky-header {
    @include header-transition(.3s);
    position: fixed;
    top: 0;
    left: 0;
    background-color: #243857;
    header {
        padding: 15px 0;
    }
    .logo {
        #symbol {
            fill: #2fc4f2;
        }
    }
}


.subpage {
    .logo svg #symbol {
        fill: #2fc4f2;
    }
    .header-wrapper{
        position: static;
        background-color: #243857;
        header {
            padding: 15px 0;
        }  
    }
    .sticky-header {
        position: fixed;
    }
    .sticky-header + .article-wrapper {
        padding-top: 110px;
    }
    .sticky-header + .hero-wrapper {
        padding-top: 126px;
        height: 406px;
    }
    .hero-wrapper {
        height: 340px;
        padding-top: 60px;
        background-attachment: fixed;
    }
    .hero-caption {
        padding-top: 60px;
    }
    #page-title {
        font-size: 55px;
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 20px;
    }
    #page-description {
        font-size: 25px;
        font-weight: 100;
        line-height: 1.23;
    }
    .section-title { 
        font-size: 40px;
        color: #13213d;
        text-align: left
    }
    .news-info {
        background-position: center -15px;
        background-image: url('../images/newsinfo-image.png')
    }
    .contact-page {
        background-position: center -15px;
        background-image: url('../images/contact-image.png')
    }
}

.hero-caption {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 167px;
    color: #fff;
    #partner {
        font-size: 25px;
        font-weight: 300;
        line-height: 1.0;
    }
    #eBrain {
        font-size: 55px;
        font-weight: 300;
        line-height: 1.3;
        padding: 20px 0;
    }
    #company {
        font-size: 30px;
        line-height: 1.0;
    }
    .below-btn {
        transition:all 0.2s cubic-bezier(0.645,0.045,0.355,1);
        width: 333px;
        border-radius: 15px;
        background-color: $base-skyblue;
        display: inline-block;
        margin: 50px 0;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        padding: 17px 0;
        &:hover { 
            background-color: darken($base-skyblue,10%);
        }
    }
    .video-btn {
        font-size: 18px;
        vertical-align: middle;
        .caption {
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 1px;
        }
        .caption-left {
        }
        img { 
            width: 55px; 
            margin:0 15px;
            vertical-align: middle;
        }
    }
}

.section-title {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.0;
    color: #182d4e;
}

.why-eBrain { 
    background-color: #f8f8f8;
    background-size: cover;
    text-align: center;
    padding-bottom: 98px;
    
    .section-title { 
        padding:53px 0 100px; 
    }
    
    .col {
        width: 33%;
        float: left;
        
        .why-sub-img {
            width: 110px;
        }

        .why-sub-title {
            font-size: 32px;
            line-height: 1.09;
            text-align: center;
            color: #1c5192;
            padding: 45px 0 36px;
            text-transform: uppercase;
        }

        .why-sub-text {
            font-size: 20px;
            line-height: 1.3;
            color: #13213d;
            word-break: keep-all;
        }
    }
    
    .tech { padding-right: 30px; }
    .career { padding: 0 30px; }
    .life { padding-left: 30px; }
}

.about-eBrain {
    text-align: center;
    
    .section-title {
        padding: 52px 0 51px;
    }
    
    .row { 
        overflow: hidden;
        text-align: left;
    }
    .consulting {
        height: 466px;
        background-color: #11223d;
    }
    .management {
        height: 443px;
        background-color: #27497e;
    }
    
    .col { 
        width:50%;
        height:100%;
        float: left;
    }
    
    .consulting .about-sub-img {
        background-image: url("../images/consulting-img@2x.png");
        background-size: cover;
        background-position: center;
    }
    
    .management .about-sub-img {
        background-image: url("../images/management-img@2x.png");
        background-size: cover;
        background-position: center bottom;
    }
    
    .about-sub-text {
        padding:87px 169px 0 169px;
        font-size: 40px;
        font-weight: 300;
        color:#fff;
        
        em {
            font-weight: 500;
            line-height: 0.8;
            letter-spacing: normal;
            color: #2ab4ec;
        }
        h3 {
            font-size: 24px;
            font-weight: 200;
            line-height: 1.04;
            margin: 44px 0 20px;
        }
        p {
            font-size: 20px;
            font-weight: 400;
            line-height: 1.4;
        }
    }
}

.view-btn {
    display: inline-block;
    width: 175px;
	border-radius: 15px;
	border: solid 1px #ffffff;
    font-size: 16px;
	font-weight: 500;
	text-align: center;
	color: #ffffff;
    padding: 12px 0;
    margin-top:35px;
    @extend .btn-transition;
    &:hover {
        @extend .btn-transition;
        color: $dark-navy;
        background-color: #fff;
    }
}

.more-btn {
    @extend .btn-transition;
    display: inline-block;
    width: 280px;
	border-radius: 15px;
	background-color: $base-skyblue;
    font-size: 20px;
	font-weight: 300;
	line-height: 1.5;
	text-align: center;
	color: #ffffff;
    padding: 13px 0;
    &:hover {
        @extend .btn-transition;
    }
}

.more-eBrain {
    text-align: center;
    padding-bottom: 84px;
    

    .section-title { 
        padding: 85px 0;
        text-align: center;
    }
    
    .col {
        width: 25%;
        float: left;
        
        .img-wrap {
            height: 40px;
        }
        
        .more-sub-img {
            vertical-align: bottom;
            max-width: 100%;
        }
        
        .more-sub-title {
            font-size: 28px;
            font-weight: 300;
            line-height: 1.14;
            color: #1c5192;
            margin: 43px 0 18px;
            height: 96px;
            word-break: keep-all;
        }
        
        .more-sub-text {
            height:200px;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.3;
            color: #13213d;
            word-break: keep-all;
        }
        
        .view-btn { 
            border: solid 1px #1c5192;
            color: #1c5192;
            margin-top: 32px;
            &:hover {
                color: #fff;
                background-color: #1c5192;
            }
        }
    }
    .okky { 
        padding-right: 30px;
        img { width: 175px; }
    }
    .nagaja { 
        padding: 0 30px;
        img { width: 206px; }
    }
    .ted { 
        padding: 0 30px;
        img { width: 195px; }
    }
    .sistar { 
        padding-left: 30px;
        img { width: 146px; }
    }
}

.praise-eBrain {
    text-align: center;
    background-color: #f9f9f9;
    padding-bottom: 53px;
    
    .section-title { 
        padding: 44px 0 40px;
    }
}

.faq-eBrain {
    background-color: #1c5192;
    padding: 49px 0;
    color: #fff;
    font-weight: 200;
    .faq-text-en {
        font-size: 32px;
        line-height: 1.0;
        margin-bottom: 13px; 
    }
    .faq-text-ko {
        font-size: 22px;
	   line-height: 1.27;
    }
    .faq-btn {
        @extend .more-btn;
        float: right;
        padding: 18px 0;
        margin-top: 10px;
        &:hover {
            background-color: darken($base-skyblue,10%);
        }
    }
}

.news-eBrain {
    padding-bottom: 58px;
    text-align: center;
    .section-title {
        padding: 66px 0 29px;
    }
    .news-item {
        padding: 47px 0 52px; 
        border-bottom: 1px solid #e1e1e1;
    }
    .more-btn {
        margin-top: 44px;
        &:hover {
            background-color: darken($base-skyblue,10%);
        }
    }
    .news-item-img {
        width: 45%;
        height: 295px;
        float: left;
        background-size: cover;
        background-position: center;
        position: relative;
        .news-type {
            position: absolute;
            bottom:0;
            left:0;
        }
    }
    .news-item-text {
        width: 50%;
        float: right;
        text-align: left;
        .view-btn {
            color: #1c5192;
            border: solid 1px #1c5192;
            &:hover {
                color: #fff;
                background-color: #1c5192;
            }
        }
    }
}

.news-type {
    display: block;
    width: 136px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.17;
    color: #ffffff;
    text-align: center;
    padding: 16px 0;
    text-transform: uppercase;
}
.news-type.blog {
    background-color: $base-skyblue;
}
.news-type.academy {
    background-color: #1c5192;
}
.news-type.news {
    background-color: #252222;
}
     
.news-title {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.0;
    color: $base-skyblue;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    a {
        @extend .btn-transition;
        color: $base-skyblue;
        &:hover {
            @extend .btn-transition;
            color: darken($base-skyblue,10%);
        }
    }
}
.news-date {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    color: #9b9b9b;
    margin: 13px 0 34px;
}
.news-preview {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    color: #13213d;
    height: 112px;
    overflow: hidden;
}

.newsletter-eBrain {
    padding: 52px 0 48px;
    background-color: #182d4e;
    .newsletter-text {
        font-size: 28px;
        font-weight: 200;
        line-height: 1.14;
        color: #ffffff;
        color: #fff;
        float:left;
        margin-top: 20px;
    }
    .email-wrap {
        float:right;
        width: 453px;
        border-radius: 15px;
        background-color: #fff;
        padding: 8px 8px 8px 16px;
        input[name="email"] {
            height: 55px;
            line-height: 55px;
            width: 65%;
            font-size: 20px;
            border:none;
            &:focus { outline: none; }
        }
        .email-btn {
            @extend .more-btn;
            width: 31%;
            height: 55px;
            line-height: 1.5;
            border: none;
            float:right;
            cursor: pointer;
            &:hover {
                background-color: darken($base-skyblue,10%);
            }
        }
    }
    
}

.pagenation {
    padding-top: 44px; 
    text-align: center;
    a {
        padding: 0 7px;
        color: #d1d1d1;
    }
    a.on { color: $base-skyblue; }
}

@mixin setFillAndHover($baseColor) {
    @extend .btn-transition;
    fill: $baseColor;
    &:hover {
        @extend .btn-transition;
        fill: darken($baseColor, 10%);
    }
}

.article-wrapper {
    padding-top: 44px;
    .news-title {
        padding: 13px 0;
        border-bottom: 1px solid #e1e1e1;
        margin-top: 10px;
        margin-bottom: 16px;
    }
    .news-date {
        float: left;
    }
    .news-type {
        width: 113px;
        padding: 11px 0;
        font-size: 22px;
    }
}

.news-content {
    img {
        max-width: 100%;
    }
    font-size: 22px;
    line-height: 32px;
    color: #000;
    font-weight: 200;
}

.news-share {
    float: right;
    ul li {
        float: left;
        margin-left: 13px;
        svg {
            width: 37px;
            height: 37px;
            path { 
                fill: #fff;
            }
        }
    }
    .share {
        @extend .news-date;
        display: inline-block;
        margin-top: 8px;
    }
    .twitter svg {
        @include setFillAndHover(#28c1fd);
        @include setFillAndHover(#28c1fd);
    }
    .facebook svg {
        @include setFillAndHover(#37599e);
    }
    .google svg {
        @include setFillAndHover(#e43c2a);
    }
}

.news-tags {
    padding: 35px 0;
    margin-bottom: 60px;
    border-top:1px dashed #d8d8d8;
    border-bottom:1px dashed #d8d8d8;
    ul li {
        float: left;
        margin-right: 13px;
        margin-bottom: 13px;
    }
}

.tags-title {
    padding: 4px 0;
    display: inline-block;
    margin-right: 40px;
    color: #182d4e;
    font-size: 22px;
}

.tags {
    display: inline-block;
    padding: 6px 20px;
    border-radius: 20px;
    border: solid 1px #d8d8d8;
    font-weight: 500;
    a {
        font-size: 16px; 
        color: #a0a0a0;
    }
}

.comment-wrapper {
    background-color: #f9f9f9;
    padding: 60px 0;
    @extend .tags-title;
    display: block;
    margin-right:0;
    
    .comment-title {
        padding-bottom: 10px;
        border-bottom: 1px solid #d8d8d8;
        .comment-count {
            color: $base-skyblue;
        }
    }
}

.read-wrapper {
    .section-title {
        text-align: center;
        padding: 74px 0;
    }
    .news-item {
        width: 50%;
        float: left;
        padding: 0 37px;
        border-bottom: none;
        margin-bottom: 76px;
    }
    .news-item-img,
    .news-item-text {
        width: 100%;
        float: none;
    }
    .news-item-text {
        margin-top: 28px;
        .news-title {
            font-size: 28px;
        }
    }
}

#map {
    height: 100%;
}
.contact-box {
    height: 500px;
    width: 100%;
    border-radius: 25px 0 0 25px;
    border: solid 1px #dddddd;
    margin: 59px auto 70px auto;
}
.contact-text {
    background-color: #182d4e;
    width: 327px;
    height: 100%;
    float: left;
    border-radius: 25px 0 0 25px;
    padding: 30px 34px;
    color: #fff;
    font-weight: 200;
    font-size: 14px;
    h1 {
        font-size: 28px;
        text-transform: uppercase;
        border-left: 3px solid #2dc1f0;
        padding-left: 15px;
        margin-bottom: 40px;
    } 
    .contact-adress {
        word-break: keep-all;
        padding-left: 18px;
        margin-bottom: 15px;
        line-height: 1.38;
    }
    .contact-adress.en {
        margin-bottom: 30px;
    }
    .contact-tel {
        border-top: 1px solid #69768C;
        border-bottom: 1px solid #69768C;
        padding: 30px 0 7px;
        a {
            color: #fff;
            display: block;
        }
        .row {
            display: block;
        }
        .bg { 
            display: block;
            margin-bottom: 20px;
            padding-left: 33px;
            line-height: 1.38;
            background-repeat: no-repeat;
            background-position: left;
        }
        .bg.tel {
            background-image: url('../images/phone@2x.png');
            background-size: 12px 18px;
        }
        .bg.fax {
            background-image: url('../images/fax@2x.png');
            background-size: 18px 19px;
        }
        .bg.email {
            background-image: url('../images/email@2x.png');
            background-size: 16px 11px;
            background-position: 0 5px;
        }
    }
    .contact-follow {
        margin-top: 22px;
        .follow-title {
            float: left;
            text-transform: uppercase;
            margin-top: 5px;
        }
        .follow-icon {
            float: right;
            li {
                float: left;
                margin-left: 7px;
            }
            svg {
                width: 26px;
                height: 26px;
                @include setFillAndHover($base-skyblue);
            }
        }
    }
}
.contact-map {
    width: 631px;
    height: 100%;
    float: left;
}
.service-box {
	background-color: #f8f8f8;
	border: solid 1px #dedede;
    border-radius: 25px;
    padding: 70px 40px 70px 186px;
    background-repeat: no-repeat;
    background-position: 58px 65px;
    margin-bottom: 37px;
    .service-title {
        display: inline-block;
        font-size: 28px;
        line-height: 1.25;
        color: #182d4e;
        border-bottom: 1px solid #DFE0DF;
        margin-bottom: 10px;
    }
    .service-desc {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.2;
        color: #606060;
    }
    &:before {
        content: '';
        display: block;
        float: right;
        width: 24px;
        height: 44px;
        margin-top: 10px;
        background-image: url('../images/arrow-right-g.png');
        background-size: 100%;
    }
}
.service-box.consulting {
    background-image: url('../images/consulting@2x.png');
    background-size: 95px 82px;
}
.service-box.enquiry {
    background-image: url('../images/enquiry@2x.png');
    background-size: 73px 85px;
    margin-bottom: 60px;
}

.about-wrapper {
    background-color: $dark-navy;
    background-image: url('../images/aboutus-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 564px;
    .inside {
        display: table;
        height: 100%;
        .about-caption {
            display: table-cell;
            vertical-align: middle;
            padding: 0 35px;
        }
    }
    .logo svg {
        width: 278px;
    }
}

footer {
    padding: 44px 0 80px;
    .logo { 
        width: 100%;
        svg { 
            width: 124px; 
            height: 33px;
            #symbol { fill: #2fc4f1; }
            #text { fill: #4f4d4d; }
        }
    }
    .col { 
        width: 33%;
        float: left;
    }
    
    .sitemap-wrapper {
        margin-top: 33px; 
    }
    .menu-title > a {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.67;
        color: #8f8f8f;
    }
    .menu-item {
        font-size: 14px;
        line-height: 2.14;
        color: #8f8f8f;
    }
    .text-skyblue {
        color: #42C8F2;
    }
    .menu-item > a { 
        font-size: 14px;
        line-height: 2.14;
        color: #8f8f8f; 
    }
    .home, .blog, .contact, .follow {
        margin-bottom: 19px;
    }
    .menu-title { 
        text-transform: uppercase;
    }
    .contact-info ul li {
        line-height: 1.71;
        margin-bottom: 19px;
    }
    .image-item { 
        float: left;
        margin-right: 13px;
        svg {
            @extend .btn-transition;
            width: 30px;
            height: 30px;
            fill: $base-skyblue;
            &:hover { 
                @extend .btn-transition;
                fill: darken($base-skyblue,10%);
            }
        }
    }
}
